<div class="container-fluid">
  <h3 class="text-dark mb-4">Profile Eleve</h3>
  <div class="row mb-3">
    <div class="col-lg-8">
      <form (ngSubmit)="onSubmit(etudiantForm)" #etudiantForm="ngForm">
        <div class="card shadow mb-3">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Infos Eleve</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="username"><strong>Nom Eleve</strong></label>
                  <input class="form-control" type="text" id="username" placeholder="user.name" [(ngModel)]="etudiant.nom" name="username" required>
                  <div *ngIf="etudiantForm.controls['username'].invalid && (etudiantForm.controls['username'].dirty || etudiantForm.controls['username'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['username'].errors?.['required']">Nom Eleve est requis.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="email"><strong>Email Eleve</strong></label>
                  <input class="form-control" type="email" id="email" placeholder="user@example.com" [(ngModel)]="etudiant.email" name="email" required>
                  <div *ngIf="etudiantForm.controls['email'].invalid && (etudiantForm.controls['email'].dirty || etudiantForm.controls['email'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['email'].errors?.['required']">Email Eleve est requis.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="first_name"><strong>Prenom Eleve</strong></label>
                  <input class="form-control" type="text" id="first_name" [(ngModel)]="etudiant.prenom" placeholder="John" name="first_name" required>
                  <div *ngIf="etudiantForm.controls['first_name'].invalid && (etudiantForm.controls['first_name'].dirty || etudiantForm.controls['first_name'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['first_name'].errors?.['required']">Prenom Eleve est requis.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="tel"><strong>Tel Eleve</strong></label>
                  <input class="form-control" type="tel" id="tel" placeholder="061234687" [(ngModel)]="etudiant.tel" name="tel" required>
                  <div *ngIf="etudiantForm.controls['tel'].invalid && (etudiantForm.controls['tel'].dirty || etudiantForm.controls['tel'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['tel'].errors?.['required']">Tel Eleve est requis.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="niveau"><strong>Niveau Eleve</strong></label>
                  <input class="form-control" type="text" id="niveau" placeholder="John" [(ngModel)]="etudiant.niveau" name="niveau" required>
                  <div *ngIf="etudiantForm.controls['niveau'].invalid && (etudiantForm.controls['niveau'].dirty || etudiantForm.controls['niveau'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['niveau'].errors?.['required']">Niveau Eleve est requis.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="datenaissance"><strong>Date Naissance</strong></label>
                  <input class="form-control" type="date" id="datenaissance" placeholder="22/02/1995" [(ngModel)]="etudiant.dateNaissance" name="datenaissance" required>
                  <div *ngIf="etudiantForm.controls['datenaissance'].invalid && (etudiantForm.controls['datenaissance'].dirty || etudiantForm.controls['datenaissance'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['datenaissance'].errors?.['required']">Date Naissance est requise.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="password"><strong>Mot de Passe</strong></label>
                  <input class="form-control" type="password" id="password" placeholder="password" [(ngModel)]="etudiant.password" name="password" required>
                  <div *ngIf="etudiantForm.controls['password'].invalid && (etudiantForm.controls['password'].dirty || etudiantForm.controls['password'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['password'].errors?.['required']">Mot de Passe est requis.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Transport Eleve</p>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label" for="busid"><strong>Numero Bus</strong></label>
              <select name="bus" class="form-control" id="bus" (change)='onChange($event)' [(ngModel)]="etudiant.busId" required>
                <option *ngFor="let b of bus" [ngValue]="b.idBus">{{b.idBus}}</option>
              </select>
              <div *ngIf="etudiantForm.controls['bus'].invalid && (etudiantForm.controls['bus'].dirty || etudiantForm.controls['bus'].touched)" class="text-danger">
                <div *ngIf="etudiantForm.controls['bus'].errors?.['required']">Numero Bus est requis.</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="Nchauffeur"><strong>Nom Chauffeurs</strong></label>
                  <input class="form-control" type="text" id="Nchauffeur" [(ngModel)]="chauffeur.nom" placeholder="Los Angeles" name="Nchauffeur" disabled>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="telchauffeur"><strong>Tel Chauffeur</strong></label>
                  <input class="form-control" type="tel" id="telchauffeur" [(ngModel)]="chauffeur.tel" placeholder="321654" name="telchauffeur" disabled>
                </div>
              </div>
            </div>
          </div>
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Localisation Eleve</p>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label class="form-label" for="address"><strong>Addresse</strong></label>
              <input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" [(ngModel)]="etudiant.adresse" name="address" required>
              <div *ngIf="etudiantForm.controls['address'].invalid && (etudiantForm.controls['address'].dirty || etudiantForm.controls['address'].touched)" class="text-danger">
                <div *ngIf="etudiantForm.controls['address'].errors?.['required']">Addresse est requise.</div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="city"><strong>Longitude</strong></label>
                  <input class="form-control" type="text" id="city-1" placeholder="0.252352" [(ngModel)]="etudiant.longtitude" name="longtitude" required>
                  <div *ngIf="etudiantForm.controls['longtitude'].invalid && (etudiantForm.controls['longtitude'].dirty || etudiantForm.controls['longtitude'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['longtitude'].errors?.['required']">Longitude est requise.</div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="mb-3">
                  <label class="form-label" for="country"><strong>Latitude</strong></label>
                  <input class="form-control" type="text" id="country-1" placeholder="0.25355" [(ngModel)]="etudiant.latitude" name="latitude" required>
                  <div *ngIf="etudiantForm.controls['latitude'].invalid && (etudiantForm.controls['latitude'].dirty || etudiantForm.controls['latitude'].touched)" class="text-danger">
                    <div *ngIf="etudiantForm.controls['latitude'].errors?.['required']">Latitude est requise.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3" *ngIf="id==0">
              <button class="btn btn-primary btn-sm"  type="submit">Enregistrer</button>
            </div>
            <div class="mb-3" *ngIf="id!=0">
              <button class="btn btn-primary btn-sm"  type="submit">Modifer</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
     <!-- <div class="row">
        <div class="col">
            <form *ngIf="!submitted">
            <div class="card shadow mb-3">
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Infos Eleve</p>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="username"><strong>Nom Eleve</strong></label>
                        <input class="form-control" type="text" id="username" placeholder="user.name" [(ngModel)]="etudiant.nom" name="username"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="email"><strong>Email Eleve</strong></label>
                        <input class="form-control" type="email" id="email" placeholder="user@example.com" [(ngModel)]="etudiant.email" name="email"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="first_name"><strong>Prenom Eleve</strong></label>
                        <input class="form-control" type="text" id="first_name" [(ngModel)]="etudiant.prenom" placeholder="John" name="first_name"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="tel"><strong>Tel Eleve</strong></label>
                        <input class="form-control" type="tel" id="tel" placeholder="061234687" [(ngModel)]="etudiant.tel" name="tel"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="niveau"><strong>Niveau Eleve</strong></label>
                        <input class="form-control" type="text" id="niveau" placeholder="John" [(ngModel)]="etudiant.niveau" name="niveau"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="datenaissance"><strong>Date Naissance</strong></label>
                        <input class="form-control" type="date" id="datenaissance" placeholder="22/02/1995" [(ngModel)]="etudiant.dateNaissance" name="datenaissance"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="password"><strong>Mot de Passe</strong></label>
                        <input class="form-control" type="password" id="password" placeholder="password" [(ngModel)]="etudiant.password" name="password"></div>
                    </div>
                  </div>
              </div>
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Transport Eleve</p>
              </div>
              <div class="card-body">
                  <div class="mb-3"><label class="form-label" for="busid"><strong>Numero Bus</strong></label>
                    <select name="bus" class="form-control" id="bus" (change)='onChange($event)'   [(ngModel)]="etudiant.busId">
                      <option *ngFor="let b of bus" [ngValue]="b.idBus">{{b.idBus}}</option>
                    </select>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="Nchauffeur"><strong>Nom Chauffeurs</strong></label>
                        <input class="form-control" type="text" id="Nchauffeur" [(ngModel)]="chauffeur.nom" placeholder="Los Angeles" name="Nchauffeur" disabled></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="telchauffeur"><strong>Tel Chauffeur</strong></label>
                        <input class="form-control" type="tel" id="telchauffeur"[(ngModel)]="chauffeur.tel" placeholder="321654" name="telchauffeur" disabled></div>
                    </div>
                  </div>
              </div>
              <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Localisation Eleve</p>
              </div>
              <div class="card-body">
                  <div class="mb-3"><label class="form-label" for="address"><strong>Addresse</strong></label>
                    <input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" [(ngModel)]="etudiant.adresse" name="address"></div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="city"><strong>Longitude</strong></label>
                        <input class="form-control" type="text" id="city-1" placeholder="0.252352" [(ngModel)]="etudiant.longtitude" name="longtitude"></div>
                    </div>
                    <div class="col">
                      <div class="mb-3"><label class="form-label" for="country"><strong>Latitude</strong></label>
                        <input class="form-control" type="text" id="country-1" placeholder="0.25355" [(ngModel)]="etudiant.latitude" name="latitude"></div>
                    </div>
                  </div>
                  <div class="mb-3" *ngIf="id==0">
                    <button class="btn btn-primary btn-sm" (click)="saveEtudiant()" type="submit">Enregistrer</button>
                  </div>
                  <div class="mb-3" *ngIf="id!=0">
                    <button class="btn btn-primary btn-sm" (click)="updateEtudiant(etudiant.etudiantId || 0)" type="submit">Modifer</button>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>-->
    </div>
