<div class="container-fluid">
  <h3 class="text-dark mb-4">Profile Bus</h3>
  <div class="row mb-3">
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="assets/img/dogs/image2.jpeg" width="160" height="160">
          <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
        </div>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="text-primary fw-bold m-0">Statistics</h6>
        </div>
        <div class="card-body">
          <h4 class="small fw-bold">Totale Eleve<span class="float-end">200</span></h4>
          <h4 class="small fw-bold">Totale Bus<span class="float-end">20</span></h4>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row mb-3 d-none">
        <div class="col">
          <div class="card text-white bg-primary shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
              </div>
              <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-white bg-success shadow">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col">
                  <p class="m-0">Peformance</p>
                  <p class="m-0"><strong>65.2%</strong></p>
                </div>
                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
              </div>
              <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow mb-3">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">Infos Bus</p>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="username"><strong>Matricule</strong></label><input class="form-control" type="text" id="username" placeholder="user.name" name="username"></div>
                  </div>
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="email"><strong>NB Places</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="first_name"><strong>Chauffeur</strong></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name"></div>
                  </div>
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="last_name"><strong>Tel Eleve</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                  </div>
                </div>
                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Enregistrer</button></div>
              </form>
            </div>
          </div>
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 fw-bold">Localisation Eleve</p>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3"><label class="form-label" for="address"><strong>Addresse</strong></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"></div>
                <div class="row">
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="city"><strong>Ville</strong></label><input class="form-control" type="text" id="city" placeholder="Los Angeles" name="city"></div>
                  </div>
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="country"><strong>Pays</strong></label><input class="form-control" type="text" id="country" placeholder="USA" name="country"></div>
                  </div>
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="city"><strong>Longitude</strong></label><input class="form-control" type="text" id="city-1" placeholder="Los Angeles" name="city"></div>
                  </div>
                  <div class="col">
                    <div class="mb-3"><label class="form-label" for="country"><strong>Latitude</strong></label><input class="form-control" type="text" id="country-1" placeholder="USA" name="country"></div>
                  </div>
                </div>
                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Enregistrer</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow mb-5"></div>
</div>
